.navs{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    color: white;
    padding: 5px 10px 5px 10px;
   
}


